<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.res_clinet"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="edu.neu.ui.Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.neu.ui.HomePage"></activity>
        <activity android:name="edu.neu.ui.Register"></activity>
        <activity android:name="edu.neu.ui.Email"></activity>
        <activity android:name="edu.neu.ui.EmailInbox"></activity>
        <activity android:name="edu.neu.ui.Meeting"></activity>
        <activity android:name="edu.neu.ui.MeetingList"></activity>
        <activity android:name="edu.neu.ui.SetServerIp"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
</manifest>
